body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a39546;
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: #e6cd45;
}

@font-face
{
    font-family: "Header";
    src: url('../../Fonts/Gentona2.otf');
}
@font-face
{
    font-family: "Tagline";
    src: url('../../Fonts/octin-prison-rg.ttf');
}

@font-face
{
    font-family: "Ripped";
    src: url('../../Fonts/Cool.ttf');
}

.bounceInLeft
{
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

@keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.bounceInRight
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInRight2
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .12s;
  animation-delay: .12s;
}

@-webkit-keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

  
@keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInUp
{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100%
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp
{
    0%
    {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100%
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

body
{
    margin: 0;
    padding: 0;
	font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 400;
    background-color: #212121;
}

aside.background
{
    position: relative;
    top: 0;
    height:80%;
    width: 100%;
    background:url(../../Home%20Page/Images/beginner.jpg) no-repeat top center;
    background-size: cover;
    background-color: #212121;
}

.container
{
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 1300px) 
{
  .container ul li:not(:last-child) {display: none;}
  .container ul span{display: none;}
  
  .container a.icon 
  {
    float: right;
    display: block;
  }
  .footer-distributed .footer-right .footer-company-about span
  {
      position: relative;
      left: 0;
      right: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1300px) 
{
  .container.responsive {position: relative;}

  .container.responsive a.icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }

  .container.responsive ul li, span 
  {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Hide the link that should open and close the topnav on small screens */
.icon 
{
    display: none;
}

header
{
    background: -webkit-linear-gradient(rgba(33, 33, 33, 0), #000000);
    background: -moz-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -ms-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: linear-gradient(to top, rgba(33, 33, 33, 0), #000000);
}

.fixed
{
    position: -webkit-fixed;
    position: -moz-fixed;
    position: -ms-fixed;
    position: -o-fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

.logo
{
  float: left;
  height: 90px;
  width: 90px;
}

.logo1
{
  float: left;
  margin-top: 26px;
  font-family: Tagline;
  font-size: 30px;
  color: #d4d4d4;
}

.straight
{
  padding-left: 35px;
  color: #e6cd45;
}

nav
{
  float: right;
}

nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li
{
  display: inline-block;
  margin-left: 30px;
  padding-top: 36px;
  position: relative;
}

nav a
{
  color: #d4d4d4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  font-size: 16px;
}

nav a:hover
{
  color: #e6cd45;
}

/*---------------------------------*/

section
{
    position: relative;
    top: 0;
    height: 0;
    padding-bottom: 0px;
    margin: 0 auto;
    background: #212121;
    z-index: 4;
}

.beginnerdiv
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: #212121;
    z-index: 5;
}

.beginnerh1
{
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.quotediv
{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url('../Images/5.jpg');
    background-size: cover;
    background-color: #212121;
    z-index: 5;
}

span.quotespan
{
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #212121;
    opacity: .5;
    z-index: 6;
}

p.quotep
{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}


div.aboutdiv
{   
    position: relative;
    text-align: center;
    padding: 70px 0;
    border: 1px solid #e6cd45;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 0;
    background-color: #212121;
    z-index: 10;
}

p.aboutp
{
    text-align: left;
    color: #d4d4d4;
    font-family: Ripped;
    font-size: 20px;
}

.aboutdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.aboutdiv li
{
    position: relative;
    float: left;
    height: 170px;
    width: 270px;
    margin: 0 60px;
    text-overflow: ellipsis;
    overflow: hidden;
}/* ie needs position:relative here*/

.abouth2
{
    position: relative;
    text-shadow: 3px 3px 4px #e6ce458a;
    left: -20px;
    bottom: 10px;
    color: #d4d4d4;
    font-family: Ripped;
}

img.aboutimg
{
    display: block;
    height: 200px;
    width: 300px;
    padding: 0;
    margin-bottom: 10px;  
}
img.aboutimg2
{
    display: block;
    height: 200px;
    width: 300px;
    padding: 0;
    margin: 0;  
}

@media (max-width: 1433px)
{
    img.aboutimg, img.aboutimg2
    {
        display: inline;
        margin: 0;
    }
}

p.goldline
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    border: 1px dotted #e6cd45;
    z-index: 6;
}

div.whydiv
{   
    position: relative;
    text-align: center;
    padding: 70px 0;
    border: 1px solid #e6cd45;
    border-top: 0;
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background-color: #212121;
    z-index: 10;
}

p.whyp
{
    text-align: left;
    color: #d4d4d4;
    font-family: Ripped;
    font-size: 20px;
}

.whyul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.whydiv ul li
{
    position: relative;
    float: left;
    height: 170px;
    width: 270px;
    margin: 0 60px;
    text-overflow: ellipsis;
    overflow: hidden;
}/* ie needs position:relative here*/

.whyh2
{
    position: relative;
    text-shadow: 3px 3px 4px #e6ce458a;
    left: -20px;
    bottom: 10px;
    color: #d4d4d4;
    font-family: Ripped;
}

img.whyimg
{
    display: block;
    height: 250px;
    width: 400px;
    padding: 0;
    margin: 0;  
}

a.whya
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #a39546;
    text-transform: uppercase;
}

a.whya:hover
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #e6cd45;
}

@media (max-width: 650px)
{
    img.whyimg
    {
        height: 200px;
        width: 300px;
    }
}

@media (max-width: 1900px)
{
    img.whyimg
    {
        height: 230px;
        width: 350px;
    }
}

div.quotedowdiv
{
    position: relative;
    height: 185px;
    width: 100%;
    background-image: url('../Images/image.jpg');
    background-size: cover;
    background-color: #212121;
    z-index: 5;
}

span.quotedowspan
{
    position: absolute;
    height: 185px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73, 73, 73,1)), color-stop(71%, rgba(0,0,0,0.6))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgb(73, 73, 73) 0%, rgba(0,0,0,0.6) 71%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 41%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    opacity: .6;
    z-index: 6;
}

a.quotedowp
{
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    transition: .2s;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #a39546;
    text-decoration: none;
    text-align: center;
    z-index: 6;
}

.quotedowp:hover
{
    top: 73px;
    font-size: 40px;
    transition: .2s;
    color: #e6cd45;
}

.zoomhover
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.zoomleave
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.opacity
{
    opacity: 0;
}

.opacity2
{
    opacity: 0;
}

/*----------FOOTER----------*/
.footer-distributed
{
    position: relative;
	background: #212121;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-top: 1px solid rgba(230, 205, 69, .4);
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
    z-index: 7;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  #e6cd45;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.footer-distributed .footer-icons
{
	margin-top: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) 
{

    .footer-distributed .footer-company-about span
    {
        position: relative;
        text-align: center;
        left: 45%;
    }

    .footer-distributed
    {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}

}
