@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a39546;
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: #e6cd45;
}

@font-face
{
    font-family: "Header";
    src: url('../../Fonts/Gentona2.otf');
}
@font-face
{
    font-family: "Tagline";
    src: url('../../Fonts/octin-prison-rg.ttf');
}

@font-face
{
    font-family: "Ripped";
    src: url('../../Fonts/Cool.ttf');
}

.bounceInLeft
{
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

@keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.bounceInRight
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInRight2
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .12s;
  animation-delay: .12s;
}

@-webkit-keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

  
@keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInUp
{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100%
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp
{
    0%
    {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100%
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

body
{
    margin: 0;
    padding: 0;
	font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 400;
    background-color: #212121;
}

aside.background
{
    position: relative;
    top: 0;
    height:80%;
    width: 100%;
    background:url(../../Home%20Page/Images/beginner.jpg) no-repeat fixed;
    background-position: center 0px;
    background-size: cover;
    background-color: #212121;
}

wrapper
{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header
{
    background: #212121;
    padding: 20px 0;
}

header h1
{
    margin: 0;
    margin-left: 50px;
    text-indent: -10000px;
    text-align: center;
    background: url(../../Home%20Page/Images/Screenshot_1.png) no-repeat;
    height: 40px;
    width: 208px;
    float: left;
}
header h1::after
{
    content: "";
    display: block;
    clear: both;
}

header h2
{
    float: left;
    margin: 0;
    padding: 5px 10px 5px;
    font-family: Tagline;
    font-size: 28px;
    color: #d4d4d4;
}

header nav
{
    float: right;
    margin-right: 50px;
}

header nav h2
{
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav ul
{
    margin: 0;
    padding: 0;
}

header nav li
{
    list-style-type: none;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

header nav a
{
    text-decoration: none;
    color: #eee;
    font-family: 'Kavivanar', cursive;
    text-transform: uppercase;
    font-weight: bold;
}

header nav a:hover
{
    color: #e6cd45;
    transition: all ease .3s;
}

header:after
{
    display: block;
    content: "";
    clear: both;
}

@media screen and (max-width: 780px)
{
    
    header nav
    {
        float: none;
        margin: 0;
    }
    
    header nav li
    {
        margin-left: 0;
        width: 20%;
        text-align: center;
        font-size: 14px;
    }
    
    header h1.logo
    {
        float: none;
        margin: 0 auto 15px;
    }
        
    #latest-work li
    {
        width: 60%;
         margin: 30px 20% !important;
        float: none;
    }
        
    #latest-work h2
    {
        text-align: center;
    }
    
}
    
    
@media screen and (max-width: 640px)
{  
    header nav li
    {
        float: none;
        width: 100%;
        margin: 0;
    }
        
    header nav
    {
        background: #555;
    }
        
    header .wrapper
    {
        padding: 0;
        width: 100%;
        
    }
        
    header
    {
        padding-bottom: 0;
    }
        
    header nav li a
    {
        display: block;
        text-align: center;
        padding: 10px;
        color: #999;
        border-top: 1px solid #4f4f4f
    }

    header nav li a:hover
    {
        color: #e6cd45;
        background-color: #212121;
    }
        
    #burger-nav
    {
        width: 100%;
        height: 40px;
        background: url(../../Home%20Page/Images/burger.png) no-repeat 98% center;
        cursor: pointer;
    }
        
    header nav ul
    {
        height: 0;
        overflow: hidden;
     }
        
    header nav ul.open
    {
        height: auto;
    }
        
}

/*---------------------------------*/

section
{
    position: relative;
    top: 0;
    height: 0;
    padding-bottom: 0px;
    margin: 0 auto;
    background: #212121;
    z-index: 4;
}

.beginnerdiv
{
    position: relative;
    height: 100px;
    border-top: 1px solid #e6cd45;
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: url(../Images/beginner_background.png);
    z-index: 5;
}

.beginnerh1
{
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.quotediv
{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url('../Images/5.jpg');
    background-size: cover;
    background-color: #212121;
    z-index: 5;
}

span.quotespan
{
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #212121;
    opacity: .5;
    z-index: 6;
}

p.quotep
{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}


@media screen and (max-width: 470px)
{
    p.quotep
    {
        top: 100px;
    }
}

@media screen and (max-width: 337px)
{
    p.quotep
    {
        top: 70px;
    }
}

div.aboutdiv
{   
    position: relative;
    text-align: center;
    background: url(../../Home%20Page/Images/photo.jpg) no-repeat center;
    background-size: cover;
    z-index: 10;
}

div.grayscale
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #000000cb;
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    height: auto;
}

p.aboutp
{
    text-align: justify;
    color: #d4d4d4;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 1.21em;
    margin: 0;
    width: 600px;
    font-size: 25px;
}

.firstli
{
    margin: 0 20px;
    padding: 70px 0; 
}

#aboutdiv2
{
    position: relative;
    height: 100px;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background-image: url(../../Home%20Page/Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: #212121;
    z-index: 5;
}

.abouth1
{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 3px 3px 1px #e6ce456b;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

.aboutdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.aboutdiv li
{
    position: relative;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}/* ie needs position:relative here*/

.aboutdiv li::after
{
    content: "";
    display: block;
    clear: both;
}

img.aboutimg
{
    display: block;
    padding: 0; 
}
img.aboutimg2
{
    display: block;
    padding: 0;
    margin: 0;  
}

.aboutimgli
{
    margin: 60px;
}

@media (max-width: 1433px)
{
    img.aboutimg, img.aboutimg2
    {
        display: inline;
        margin: 0;
    }
    
}
@media (min-width: 1433px)
{
    img.aboutimg
    {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 630px)
{
    p.aboutp
    {
        width: auto;
        font-size: 21px;
    }

    div.grayscale
    {
        background-color: #000000a9
    }
}

a.linksa
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #a39546;
    text-transform: uppercase;
}

a.linksa:hover
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #e6cd45;
}


div.quotedowdiv
{
    position: relative;
    height: 185px;
    width: 100%;
    background-image: url('../Images/image.jpg');
    background-size: cover;
    background-color: #212121;
    z-index: 5;
}

span.quotedowspan
{
    position: absolute;
    height: 185px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73, 73, 73,1)), color-stop(71%, rgba(0,0,0,0.6))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgb(73, 73, 73) 0%, rgba(0,0,0,0.6) 71%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 41%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    opacity: .6;
    z-index: 6;
}

a.quotedowp
{
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    transition: .2s;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #a39546;
    text-decoration: none;
    text-align: center;
    z-index: 6;
}

.quotedowp:hover
{
    top: 73px;
    font-size: 40px;
    transition: .2s;
    color: #e6cd45;
}

.zoomhover
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.zoomleave
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.opacity
{
    opacity: 0;
}

.opacity2
{
    opacity: 0;
}

/*----------FOOTER----------*/
.footer-distributed
{
    position: relative;
	background: url(../Images/footer_background.png);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-top: 1px solid rgba(230, 205, 69, .4);
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
    z-index: 7;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  #e6cd45;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.footer-distributed .footer-icons
{
	margin-top: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) 
{

    .footer-distributed .footer-company-about span
    {
        position: relative;
        text-align: center;
    }

    .footer-distributed
    {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}

}
