@font-face
{
    font-family: "Header";
    src: url('../Fonts/BebasNeue Regular.ttf');
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a39546;
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: #e6cd45;
}

@font-face
{
    font-family: "Tagline";
    src: url('../Fonts/octin-prison-rg.ttf');
}

@font-face
{
    font-family: "Ripped";
    src: url('../Fonts/Cool.ttf');
}

/*-------------BODY---------------*/
*
{
    margin: 0;
    padding: 0;
}
body
{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cool', sans-serif;
    background: url(Images/background.png);
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    z-index: -10;
}

/*------HEADER------*/
header
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(214, 31, 31, 0), #000000);
    background: -moz-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -ms-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: linear-gradient(to top, rgba(33, 33, 33, 0), #000000);
}
.logo
{
    height: 50px;
    margin: 26px;
    margin-left: 60px;
}
.logo, .logo img, .logo h1
{
    display: inline-block;
}
.logo img
{
    position: relative;
    top: 2px;
}
.logo h1
{
    position: relative;
    top: -6px;
    margin-left: 10px;
    color: #d4d4d4;
    font-family: tagline; 
}

nav
{
    float: right;
    margin: 38px 0;
    margin-right: 60px;
}
nav::after
{
    content: "";
    display: block;
    clear: both;
}
nav ul
{
    position: relative;
    margin: 0;
    list-style: none;
    transition: all .5s ease-in-out;
}
li.desktop
{
    position: relative;
    margin: 0 20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: .1em;
    text-align: right;
    font-family: 'Header';
    z-index: 1;
}
.last_li
{
    margin-right: 0;
}
nav ul span
{
    position: relative;
    top: -1px;
    color: #c1b04f;
    font-size: 20px;
}
.header_a
{
    text-decoration: none;
    color:aliceblue;
    width: 100%;
}
.header_a:hover
{
    color: #e6cd45;
    transition: .3s;
}
/*BURGER!!!!!!!!!!!!!!!!!!*/
.burger-container
{
    width: 10px;
    display: none;
}

.burger
{
    cursor: pointer;
    display: block;
}

.burger span
{
    background: #eee;
    display: block;
    width: 20px;
    height: 4px;
    margin-bottom: 1px;
    position: relative;
    top: 0;
    transition: all ease-in-out .4s;
}

.burger-container.open span:nth-child(2),
.burger-container.open span:nth-child(3)
{
    width: 0;
    opacity: 0;
}

.burger-container.open span:nth-child(1)
{
    transform: rotate(-45deg);
    top: 7.5px;
}

.burger-container.open span:nth-child(4)
{
    transform: rotate(45deg);
    top: -7.5px;
}
@media (max-width: 1031px)
{
    .burger-container
    {
        position: absolute;
        display: block;
    }
    header
    {
        position: relative;
        background: url(../Home%20Page/Images/header.png);
    }
    .spann
    {
        display: none;
    }
    .last_li
    {
        margin-right: 20px;
    }
    body
    {
        position: relative;
    }
    nav ul 
    {
        position: absolute;
        top: -105px;
        left: 0;
        width: 100%;
        background: rgba(128, 128, 128, 0.659);
        z-index: -1;
    }
    li.desktop
    {
        /*display: none;*/
        display: block;
        text-align: center;
        border-bottom: 1px solid #2121217c;
        margin: 0;
        padding: 10px;
    }
    .logo
    {
        margin-left: 40px;

    }
    .logo a h1
    {
        font-size: 30px;
    }
    .dropdown
    {
        position: absolute;
        top: 100px;
    }
}

/*--------------------------------*/
/*------SECTION------*/

section
{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: -6;
}

div.faqdiv
{
    width: 90%;
    margin: 3% auto;
}

@media screen and (max-width: 409px)
{
    #ui-id-1, #ui-id-3, #ui-id-5, #ui-id-7, #ui-id-9
    {
        font-size: 15px;
    }
    div.faqdiv
    {
        margin: 4% auto;
    }
}

@media screen and (max-width: 354px)
{
    #ui-id-1, #ui-id-3, #ui-id-5, #ui-id-7, #ui-id-9
    {
        font-size: 13px;
    }
    div.faqdiv
    {
        margin: 5% auto;
    }
}
/*--------------------------------*/


/*----------FOOTER----------*/
.footer-distributed
{
    
	background-image: url(../Home%20Page/Images/skewed_print.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: #212121;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    position: relative;
    padding: 55px 50px;
    bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  #e6cd45;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
    margin-top: 25px;
    margin-left: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: inherit;
	height: inherit;
	cursor: pointer;
	border-radius: 2px;

	font-size: 35px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}

.footer-icons a i:hover
{
    opacity: .5;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (min-width: 600px) and (min-height: 700px)
{
    .footer-distributed
    {
        position: absolute;
    }
}

@media (max-width: 880px) 
{
    .footer-distributed .footer-company-about span
    {
        position: relative;
        text-align: center;
    }

    .footer-distributed
    {
        font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}
}