:root
{
    --gold: #e6cd45;
    --light_black: #212121;
    --dark_gold: #a39546;
    --text_color: #d4d4d4;
    --border: 1px solid rgba(230, 205, 69, .4);
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--light_black);
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--light_black);
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--dark_gold);
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: var(--gold);
}

@font-face
{
    font-family: "Tagline";
    src: url('../Fonts/octin-prison-rg.ttf');
}
@font-face
{
    font-family: "Header";
    src: url('../Fonts/BebasNeue Regular.ttf');
}
@font-face
{
    font-family: "Ripped";
    src: url('../Fonts/Cool.ttf');
}

.bounceInLeft
{
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

@keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.bounceInRight 
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

  
@keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInDown 
{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeIn 
{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

.fadeInLeft 
{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight 
{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp
{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100%
    {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
@keyframes fadeInUp
{
  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.rotateInDownLeft 
{
    -webkit-animation-name: rotateInDownLeft;
    animation-name: rotateInDownLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes rotateInDownLeft 
{
    0% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft 
{
    0% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
 
.rotateInDownRight 
{
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;    
    -webkit-animation-duration: 1s;   
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateInDownRight 
{
    0% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownRight 
{
    0% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/*-------------BODY---------------*/
*
{
    outline: 0;
    margin: 0;
    padding: 0;
}
body
{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Cool', sans-serif;
    background-color: var(--light_black);
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 400;
    z-index: -10;
}

aside.background
{
    position: relative;
    top: 0;
    height: 80%;
    width: 100%;
    background:url(Images/home_page_background_big.jpg) no-repeat fixed;
    background-position: center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -7;
}

@media (max-width: 768px)
{
    aside.background
    {
        display: none;
    }
}
/*------HEADER------*/
header
{
    position: fixed;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(214, 31, 31, 0), #000000);
    background: -moz-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -ms-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: linear-gradient(to top, rgba(33, 33, 33, 0), #000000);
}
.logo
{
    height: 50px;
    margin: 26px;
    margin-left: 60px;
}
.logo, .logo img, .logo h1
{
    display: inline-block;
}
.logo img
{
    position: relative;
    top: 2px;
}
.logo h1
{
    position: relative;
    top: -6px;
    margin-left: 10px;
    color: var(--text_color);
    font-family: tagline; 
}

nav
{
    float: right;
    margin: 38px 0;
    margin-right: 60px;
}
nav::after
{
    content: "";
    display: block;
    clear: both;
}
nav ul
{
    position: relative;
    list-style: none;
    transition: all .5s ease-in-out;
}
li.desktop
{
    position: relative;
    margin: 0 20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: .1em;
    text-align: right;
    font-family: 'Header';
    z-index: 1;
}
.last_li
{
    margin-right: 0;
}
nav ul span
{
    position: relative;
    top: -1px;
    color: #c1b04f;
    font-size: 20px;
}
.header_a
{
    text-decoration: none;
    transition: all .3s;
    color:aliceblue;
    width: 100%;
}
.header_a:hover
{
    color: var(--gold);
    transition: .3s;
}
/*BURGER!!!!!!!!!!!!!!!!!!*/
.burger-container
{
    width: 10px;
    display: none;
}

.burger
{
    cursor: pointer;
    display: block;
}

.burger span
{
    background: #eee;
    display: block;
    width: 20px;
    height: 4px;
    margin-bottom: 1px;
    position: relative;
    top: 0;
    transition: all ease-in-out .4s;
}

.burger-container.open span:nth-child(2),
.burger-container.open span:nth-child(3)
{
    width: 0;
    opacity: 0;
}

.burger-container.open span:nth-child(1)
{
    transform: rotate(-45deg);
    top: 7.5px;
}

.burger-container.open span:nth-child(4)
{
    transform: rotate(45deg);
    top: -7.5px;
}
@media (max-width: 1031px)
{
    section
    {
        z-index: -2;
    }
    #programsdiv2, div#tutorialsdiv2, div#transformationsdiv2
    {
        height: 55px !important;
    }
    .programsh1, .tutorialsh1, .transformationsh1
    {
        top: 13px !important;
        font-size: 25px !important;
    }
    .burger-container
    {
        position: absolute;
        display: block;
    }
    header
    {
        position: relative;
        background: url(Images/header.png);
    }
    .spann
    {
        display: none;
    }
    .last_li
    {
        margin-right: 20px;
    }
    body
    {
        position: relative;
    }
    nav ul 
    {
        position: absolute;
        top: -105px;
        left: 0;
        width: 100%;
        background: rgba(128, 128, 128, 0.659);
        z-index: -1;
    }
    li.desktop
    {
        /*display: none;*/
        display: block;
        text-align: center;
        border-bottom: 1px solid #2121217c;
        margin: 0;
        padding: 10px;
    }
    .logo
    {
        margin-left: 40px;

    }
    .logo a h1
    {
        font-size: 30px;
    }
    .dropdown
    {
        position: absolute;
        top: 100px;
    }
}

@media (max-width: 343px)
{
    .burger-container
    {
        right: 30px;
    }
    nav
    {
        margin-left: 0;
        margin-right: 0;
    }
    .logo{
        margin-left: 20px;
    }
}
@media (max-width: 310px)
{
    .burger-container
    {
        right: 20px;
    }
    nav
    {
        margin-left: 0;
        margin-right: 0;
    }
    .logo{
        margin-left: 10px;
    }
}

/*--------------------------------*/

section
{
    position: relative;
    top: 0;
    height: 0;
    padding-bottom: 0px;
    margin: 0 auto;
    background: var(--light_black);
}

/*---------------PROGRAMS----------------*/

#programsdiv2
{
    position: relative;
    height: 70px;
    border: var(--border);
    border-left: 0;
    border-right: 0;
    background-image: url(Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: var(--light_black);
    z-index: 5;
}

.programsh1
{
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: var(--text_color);
    text-align: center;
    z-index: 6;
}

/*//////////////////////////////////////////*/

div.programsdiv 
{
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: url('Images/programs_parallax.png');
    background-attachment: fixed;
}

div.grayscale
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #303030f6;
    height: auto;
}

.programsdiv ul 
{
    position: relative;
    display: inline-block;
    text-align: center;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 5;
}

.programsdiv li 
{
    position: relative;
    display: inline-block;
    height: 440px;
    width: 15%;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #21212173;
    overflow: hidden;
}

.pdiv
{
    height: 170px;
    width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.pimg
{
    height: 170px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.ph1
{
    color: var(--text_color);
    text-shadow: 3px 2px 3px #a395467c;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 27px;
    letter-spacing: .06em;
    text-align: center;
    margin: 15px auto;
}

.pp
{
    color: var(--text_color);
    margin: 0 auto;
    width: 95%;
    line-height: 1.5em;
    letter-spacing: .01em;
    text-align: justify;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 16px;
}

@media (min-width: 1920px)
{
    .programsul li
    {
        width: 270px;
    }
}

@media (max-width: 1781px)
{
    .programsul li
    {
        width: 18%;
    }
}

@media (max-width: 1494px)
{
    .programsul li
    {
        height: 445px;
        width: 20%;
    }
}
@media (max-width: 1280px)
{
    .programsul li
    {
        height: 435px;
        width: 25%;
        margin: 14px auto;
        margin: 20px;
    }
    .pimg, .pdiv
    {
        height: 170px;
    }
    .pp
    {
        font-size: 16px;
    }
}
@media (max-width: 1000px)
{
    .programsul li
    {
        height: 440px;
        width: 25%;
        margin: 14px auto;
        margin: 20px;
    }
    .pimg, .pdiv
    {
        height: 150px;
    }
    .ph1
    {
        margin: 12px auto;
    }
    .pp
    {
        font-size: 15px;
    }
}

@media (max-width: 820px)
{
    .programsul li
    {
        width: 40%;
    }

    .pimg, .pdiv
    {
        height: 170px;
    }
}

@media (max-width: 565px)
{
    .programsul li
    {
        width: 50%;
    }
}

@media (max-width: 425px)
{
    .programsul li
    {
        width: 80%;
    }
}

/*-----------------------------------*/
/*------------TUTORIALS-------------*/

div#tutorialsdiv2
{
    position: relative;
    height: 70px;
    border: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background-image: url(Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: var(--light_black);
    z-index: 12;
}

h1.tutorialsh1
{
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: var(--text_color);
    text-align: center;
    z-index: 6;
}

p.tutorialsp
{
    position: relative;
    color: #eee;
    padding: 0px 10px 40px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: .02em;
    word-spacing: .1em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    z-index: 11;
}

@media (min-width: 1318px)
{
    p.tutorialsp
    {
        font-size: 20px;
    }
}


@media (min-width: 1043px)
{
    p.tutorialsp
    {
        text-align: center;
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px)
{
    .br
    {
        height: 17px;
        display: block;
    }
}

@media (max-width: 700px)
{
    p.tutorialsp
    {
        text-align: left;
        line-height: 1.5em;
    }
}

@media (max-width: 800px)
{
    p.tutorialsp
    {
        text-align: justify;
        font-size: 18px;
    }
}
@media (max-width: 500px)
{
    p.tutorialsp
    {
        text-align: left;
        font-size: 17px;
    }
}

div.tutorialsdiv
{   
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: url('Images/programs_parallax.png');
    background-attachment: fixed;
}

div.grayscale2
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    
    width: 100%;
    background-color: #303030f6;
    z-index: 9;
}

.tutorialsdiv ul
{
    position: relative;
    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.tutorialsdiv li
{
    position: relative;
    display: inline-block;
    height: 170px;
    width: 15%;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #000000a1;
    border: 2px solid var(--gold);
    overflow: hidden;
}/* ie needs position:relative here*/

@media (min-width: 1920px)
{
    .tutorialsul li
    {
        width: 270px;
    }
}

@media (max-width: 1781px)
{
    .tutorialsul li
    {
        width: 18%;
    }
}

@media (max-width: 1494px)
{
    .tutorialsul li
    {
        width: 26%;
    }
    .tutorialsul li:nth-child(3)
    {
        margin-top: 20px;
    }
}
@media (max-width: 930px)
{
    .tutorialsul li
    {
        width: 40%;
        margin: 14px auto;
        margin: 20px;
    }
    .tutorialsimg
    {
        height: 200px;
    }
}

@media (max-width: 560px)
{
    .tutorialsul li
    {
        width: 60%;
    }

    .tutorialsimg
    {
        height: 170px;
    }
}

@media (max-width: 430px)
{
    .tutorialsul li
    {
        width: 80%;
        overflow: visible;
    }
}

img.tutorialsimg
{
    display: block;
    height: 170px;
    width: 100%;
    padding: 0;
    margin: 0;  
}
.overlay 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2121217c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
    z-index: 20;
}
  
.tutorialsdiv ul li:hover .overlay 
{
    height: 35%;
}
  
.text 
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Ripped;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  

/*--------------------------*/
/*------------TRANSFORMATIONS-------------*/

div#transformationsdiv2
{
    position: relative;
    height: 70px;
    border: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background-image: url(Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: var(--light_black);
    z-index: 12;
}

h1.transformationsh1
{
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: var(--text_color);
    text-align: center;
    z-index: 6;
}

div.transformationsdiv3
{
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: url('Images/programs_parallax.png');
    background-attachment: fixed;
}

div.grayscale3
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    
    width: 100%;
    background-color: #303030f6;
    z-index: 9;
}

p.transformationsp
{
    position: relative;
    color: #eee;
    padding: 0px 10px 40px;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.3em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin: 0 auto;
    width: auto;
    z-index: 11;
}

@media (min-width: 677px)
{
    p.transformationsp
    {
        text-align: center;
        font-size: 19px;
        width: 650px;
    }
}

.transformationsdiv
{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 9;
}

.transformationsdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 1;
}

@media screen and (max-width: 400px)
{
    .transformationsdiv ul
    {
        width: 350px;
    }

    .transformationsdiv li
    {
        margin: 0;
        margin-left: 30px;
    }

}

.transformationsdiv li
{
    position: relative;
    display: inline-block;
    height: 170px;
    width: 15%;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #000000a1;
    border: 2px solid var(--gold);
}

.slide1,.slide2,.slide3
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1 
{
    animation:fade 10s infinite;
    -webkit-animation:fade 10s infinite;
  
} 

.slide2 
{
    animation:fade2 10s infinite;
    -webkit-animation:fade2 10s infinite;
}

.slide3 
{
    animation:fade3 10s infinite;
    -webkit-animation:fade3 10s infinite;
}

@keyframes fade
{
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
}

.transformationsimg
{
    display: block;
    height: 170px;
    width: 100%;
    padding: 0;
    margin: 0;  
}
.overlay2
{
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #2121217c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
    z-index: 20;
}

@media (min-width: 1920px)
{
    .transformationsul li
    {
        width: 270px;
    }
}

@media (max-width: 1781px)
{
    .transformationsul li
    {
        width: 18%;
    }
}

@media (max-width: 1494px)
{
    .transformationsul li
    {
        width: 26%;
    }
    .transformationsul li:nth-child(3)
    {
        margin-top: 20px;
    }
}
@media (max-width: 930px)
{
    .transformationsul li
    {
        width: 40%;
        margin: 14px auto;
        margin: 20px;
    }
    .transformationsimg
    {
        height: inherit;
        width: 100%;
    }
}

@media (max-width: 560px)
{
    .transformationsul li
    {
        width: 60%;
    }

    .transformationsimg
    {
        height: 170px;
    }
}

@media (max-width: 430px)
{
    #s
    {
        width: 100%;
    }
    .transformationsul li
    {
        width: 80% !important;
        margin-left: 0;
        margin-right: 0;
        overflow: visible;
    }
}
  
.transformationsdiv ul li:hover .overlay2
{
    bottom: 0;
    height: 100%;
}
  
.text2
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Ripped;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*-----------------------------------*/
.zoomhover
{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.zoomleave
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.opacity
{
    visibility: hidden;
}

/*----------FOOTER----------*/
.footer-distributed
{
    
	background-image: url(Images/skewed_print.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: var(--light_black);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  var(--gold);
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
    margin-top: 25px;
    margin-left: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: inherit;
	height: inherit;
	cursor: pointer;
	border-radius: 2px;

	font-size: 35px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}

.footer-icons a i:hover
{
    opacity: .5;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) 
{
    .footer-distributed .footer-company-about span
    {
        position: relative;
        text-align: center;
    }

    .footer-distributed
    {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}
}