@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a39546;
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: #e6cd45;
}

@font-face
{
    font-family: "Header";
    src: url('../../Fonts/BebasNeue Regular.ttf');
}

@font-face
{
    font-family: "Tagline";
    src: url('../../Fonts/octin-prison-rg.ttf');
}

@font-face
{
    font-family: "Ripped";
    src: url('../../Fonts/Cool.ttf');
}

.zoomInDown 
{
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% 
    {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
@keyframes zoomInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% 
    {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
} 

.bounceInLeft
{
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

@keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.bounceInRight 
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInRight2
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .12s;
  animation-delay: .12s;
}

@-webkit-keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

  
@keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInUp
{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
      opacity: 0;
      -webkit-transform: translate3d(0, 35%, 0);
      transform: translate3d(0, 35%, 0);
    }
    100%
    {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
@keyframes fadeInUp
{
  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

aside.background
{
    position: relative;
    top: 0;
    height: 80%;
    width: 100%;
    background:url(../../Home%20Page/Images/advanced.jpg) no-repeat fixed;
    background-position: center 0px;
    background-size: cover;
    background-color: #212121;
    z-index: -7;
}
@media (max-width: 768px)
{
    aside.background
    {
        display: none;
    }
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cool', sans-serif;
    background: #212121;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    z-index: -10;
}

/*------HEADER------*/
header
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(214, 31, 31, 0), #000000);
    background: -moz-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -ms-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: linear-gradient(to top, rgba(33, 33, 33, 0), #000000);
}
.logo
{
    height: 50px;
    margin: 26px;
    margin-left: 60px;
}
.logo, .logo img, .logo h1
{
    display: inline-block;
}
.logo img
{
    position: relative;
    top: 2px;
}
.logo h1
{
    position: relative;
    top: -6px;
    margin-left: 10px;
    color: #d4d4d4;
    font-family: tagline; 
}

nav
{
    float: right;
    margin: 38px 0;
    margin-right: 60px;
}
nav::after
{
    content: "";
    display: block;
    clear: both;
}
nav ul
{
    position: relative;
    margin: 0;
    list-style: none;
    transition: all .5s ease-in-out;
}
li.desktop
{
    position: relative;
    margin: 0 20px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: .1em;
    text-align: right;
    font-family: 'Header';
    z-index: 1;
}
.last_li
{
    margin-right: 0;
}
nav ul span
{
    position: relative;
    top: -1px;
    color: #c1b04f;
    font-size: 20px;
}
.header_a
{
    text-decoration: none;
    color:aliceblue;
    width: 100%;
}
.header_a:hover
{
    color: #e6cd45;
    transition: .3s;
}
/*BURGER!!!!!!!!!!!!!!!!!!*/
.burger-container
{
    width: 10px;
    display: none;
}

.burger
{
    cursor: pointer;
    display: block;
}

.burger span
{
    background: #eee;
    display: block;
    width: 20px;
    height: 4px;
    margin-bottom: 1px;
    position: relative;
    top: 0;
    transition: all ease-in-out .4s;
}

.burger-container.open span:nth-child(2),
.burger-container.open span:nth-child(3)
{
    width: 0;
    opacity: 0;
}

.burger-container.open span:nth-child(1)
{
    transform: rotate(-45deg);
    top: 7.5px;
}

.burger-container.open span:nth-child(4)
{
    transform: rotate(45deg);
    top: -7.5px;
}
@media (max-width: 1031px)
{
    .advanceddiv, #descdiv2, #subdiv2
    {
        height: 55px !important;
    }
    .subh1, .desch1
    {
        top: 9px !important;
        font-size: 25px !important;
    }
    .advancedh1
    {
        top: 13px !important;
        font-size: 25px !important;
    }
    .burger-container
    {
        position: absolute;
        display: block;
    }
    header
    {
        position: relative;
        background: url(../../Home%20Page/Images/header.png);
    }
    .spann
    {
        display: none;
    }
    .last_li
    {
        margin-right: 20px;
    }
    body
    {
        position: relative;
    }
    nav ul 
    {
        position: absolute;
        top: -105px;
        left: 0;
        width: 100%;
        background: rgba(128, 128, 128, 0.659);
        z-index: -1;
    }
    li.desktop
    {
        /*display: none;*/
        display: block;
        text-align: center;
        border-bottom: 1px solid #2121217c;
        margin: 0;
        padding: 10px;
    }
    .logo
    {
        margin-left: 40px;

    }
    .logo a h1
    {
        font-size: 30px;
    }
    .dropdown
    {
        position: absolute;
        top: 100px;
    }
}

/*--------------------------------*/
/*------SECTION------*/

section
{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: -6;
}

.advanceddiv
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border: 1px solid rgba(230, 205, 69, .4);
    border-right: 0;
    border-left: 0;
    background: url(../Images/intermididate_background.png);
    z-index: 5;
}

.advancedh1
{
    position: absolute;
    top: 25;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.quotediv
{
    position: relative;
    height: 300px;
    width: 100%;
    background-image: url('../Images/1.jpg');
    background-color: #212121;
    background-size: cover;
    z-index: 5;
}

span.quotespan
{
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #212121;
    opacity: .3;
    z-index: 6;
}

p.quotep
{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

@media screen and (max-width: 1069px)
{
    p.quotep
    {
        top: 120px;
    }
}

@media screen and (max-width: 589px)
{
    p.quotep
    {
        top: 100px;
    }
}

@media screen and (max-width: 384px)
{
    p.quotep
    {
        top: 70px;
    }
}

a.linksa
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #a39546;
    text-transform: uppercase;
}

a.linksa:hover
{
    -webkit-transition: .3s;
    transition: .3s;
    color: #e6cd45;
}

#descdiv2
{
    position: relative;
    height: 100px;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background-image: url(../../Home%20Page/Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: #212121;
    z-index: 5;
}

.desch1
{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 3px 3px 1px #e6ce456b;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}
.aboutdiv div.grayscale
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #000000c9;
    height: auto;
}

div.grayscale
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #21212185;
    height: auto;
}

p.aboutp
{
    text-align: justify;
    color: #d4d4d4;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 1.21em;
    margin: 0;
    width: 600px;
    font-size: 25px;
}

.firstli
{
    margin: 0 20px;
    padding: 70px 0; 
}

div.aboutdiv
{   
    position: relative;
    text-align: center;
    background: url(../Images/phoot.jpg) no-repeat left;
    background-size: cover;
    z-index: 10;
}

.aboutdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.aboutdiv li
{
    position: relative;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}/* ie needs position:relative here*/

.aboutdiv li::after
{
    content: "";
    display: block;
    clear: both;
}

@media (max-width: 1433px)
{
    img.aboutimg, img.aboutimg2
    {
        display: inline;
        margin: 0;
    }
    
}
@media (min-width: 1433px)
{
    img.aboutimg
    {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 630px)
{
    p.aboutp
    {
        width: auto;
        font-size: 21px;
    }

    div.grayscale
    {
        background-color: #000000a9
    }
}

/*-----------------------------*/
div.subprogdiv
{
    position: relative;
    text-align: center;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 0;
    background: url(../Images/sub_programs.png);
    z-index: 6;
}

p.subprogtitle
{
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    letter-spacing: .1em;
    word-spacing: .2em;
    padding: 20px 0 0 0;
    width: 100%;
    color: #d4d4d4;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

ul.subprogul
{
    list-style:none;
    width: 90%;
    margin: 30px 5%;
    display: inline-block;
    padding: 0;
}

li.subprogli
{
    float:left;
    width: 20%;
    margin: 3%;
    margin-top: 0;
}

li.subprogli::after
{
    content: "";
    display: block;
    clear: both;
}

.subprogimg
{
    color: black;
    font-size: 70px;
}

.subprogtitle
{
    width: 100%;
    list-style: none;
    color: #e6cd45;
    font-size: 23px;
    margin: 0 auto;
}

.subprogli p
{
    margin-top: 20px;
    text-align: center;
    list-style-type: none;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    color: #d4d4d4;
}
@media (min-width: 1453px)
{
    ul.subprogul
    {
        width: auto;
        margin: 30px 0;
    }
    li.subprogli
    {
        margin: 30px;
        margin-top: 0;
        width: 400px;
    }
}

@media (max-width: 1452px)
{
    ul.subprogul
    {
        width: 100%;
        margin: 30px 0;
    }
    li.subprogli
    {
        float: left;
        width: 27%;
    }
    .subprogli p
    {
        margin: 0 auto;
        margin-top: 20px;
        width: auto;
    }

}

@media (max-width: 864px)
{
    li.subprogli
    {
        float: none;
        display: inline-block;
        width: 70%;
        margin-bottom: 30px;
        padding: 10px;
    }
    .subprogli p
    {
        margin: 0 auto;
        margin-top: 20px;
        width: 320px;
        line-height: 1.2em;
    }
}

@media (max-width: 500px)
{
    .subprogli p{width: auto;}
}

/*-------------------------------------*/
#subdiv2
{
    position: relative;
    height: 100px;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background-image: url(../../Home%20Page/Images/black_linen_v2.png);background-position: initial initial; background-repeat: initial initial; 
    background-color: #212121;
    z-index: 5;
}

.subh1
{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 3px 3px 1px #e6ce456b;
    font-size: 40px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

p.subp
{
    text-align: justify;
    color: #d4d4d4;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 1.21em;
    margin: 0;
    width: 600px;
    font-size: 25px;
}

.firstli
{
    margin: 0 20px;
    padding: 70px 0; 
}

div.subdiv
{   
    position: relative;
    text-align: center;
    background: url(../Images/advice.png);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    z-index: 10;
}

.subdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.subdiv li
{
    position: relative;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}/* ie needs position:relative here*/

.subdiv li::after
{
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 630px)
{
    p.subp
    {
        width: auto;
        font-size: 21px;
    }

    div.grayscale
    {
        background-color: #000000a9
    }
}


div.quotedowdiv
{
    position: relative;
    height: 185px;
    width: 100%;
    background-image: url('../Images/3.jpg');
    background-color: #212121;
    background-size: cover;
    z-index: 5;
}

span.quotedowspan
{
    position: absolute;
    height: 185px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73, 73, 73,1)), color-stop(71%, rgba(0,0,0,0.6))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 71%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgb(73, 73, 73) 0%, rgba(0,0,0,0.6) 71%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(73, 73, 73,1) 0%, rgba(0,0,0,0.6) 41%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#000000',GradientType=1 ); /* ie6-9 */ 
    opacity: .4;
    z-index: 6;
}

a.quotedowp
{
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    transition: .2s;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Ripped;
    font-weight: bold;
    color: #a39546;
    text-decoration: none;
    text-align: center;
    z-index: 6;
}

.quotedowp:hover
{
    top: 73px;
    font-size: 40px;
    transition: .2s;
    color: #e6cd45;
}

.opacity
{
    opacity: 0;
}

/*----------FOOTER----------*/
.footer-distributed
{
    position: relative;
	background: url(../Images/footer_background.png);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-top: 1px solid rgba(230, 205, 69, .4);
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
    z-index: 7;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  #e6cd45;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.footer-distributed .footer-icons
{
    margin-top: 25px;
    margin-left: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: inherit;
	height: inherit;
	cursor: pointer;
	border-radius: 2px;

	font-size: 35px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 15px;
	margin-bottom: 5px;
}

.footer-icons a i:hover
{
    opacity: .5;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) 
{

    .footer-distributed .footer-company-about span
    {
        position: relative;
        text-align: center;
    }

    .footer-distributed
    {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}

}
