@font-face
{
    font-family: Ripped;
    src: url('../Fonts/Asket Extended Light.ttf');
}

@font-face
{
    font-family: Tagline;
    src: url('../Fonts/octin-prison-rg.ttf');
}
@keyframes tagline
{
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(360deg);}
}

@keyframes navborder
{
    0%{box-shadow: 0 0 0 rgba(230, 205, 69, 0);}
    100%{box-shadow: 0 4px 10px rgba(230, 205, 69, 1);}
}

html
{
    height: 100%;
}

img.background
{
    position: fixed;
    top: 3%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

div.RightArrow
{
    position: fixed;
    top: 50%;
    width: 70px;
    height: 70px;
    background-image: url(Arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 2%;
    z-index: 1;
}

div.LeftArrow
{
    position: fixed;
    top: 50%;
    width: 70px;
    height: 70px;
    background-image: url(Arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotateY(180deg);
    left: 2%;
    z-index: 1;
}

div.RightArrow:hover, div.LeftArrow:hover
{
    opacity: .5;
}

body
{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

header
{
    position: relative;
    background-color: black;
    margin: -10px -10px 0 -10px;
    width: auto;
    padding-top: 111px;
    z-index: 1;
}

img.logo
{
    position: absolute;
    bottom: -20px;
    left: 5px;
    float: left;
    width: 150px;
    height: 140px;
    z-index: 1;
}

div.tagline
{
    animation-name: tagline;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    position: absolute;
    bottom: 18px;
    left: 180px;
    font-family: Tagline;
    font-weight: bold;
    font-size: 50px;
    color: white;
}


a.login:link
{
    transition-duration: .4s;
    position: absolute;
    right: 30px;
    bottom: 18px;
    text-decoration: none;
    text-align: right;
    font-family: Ripped;
    font-size: 15px;
    padding: 5px;
    color: white;
    z-index: 1;
}

a.login:visited
{
    color: white;
}

a.login:hover
{
    color: #e6cd45;
    cursor: pointer;
}

a.login:active
{
    color: gray;
}

nav.navbar
{
    animation-name: navborder;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    background: #272323;
    background: -webkit-linear-gradient(#747267, #000000);
    background: -moz-linear-gradient(bottom, #747267, #000000);
    background: -ms-linear-gradient(bottom, #747267, #000000);
    background: -o-linear-gradient(bottom, #747267, #000000);
    background: linear-gradient(to top, #212121, #000000);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #e6cd45;
    z-index: 10;
}

.navbar-scrolled
{
    position: -webkit-fixed;
    position: -moz-fixed;
    position: -ms-fixed;
    position: -o-fixed;
    position: fixed;
    top: 0;
    width: 100%;
}

ul
{
    text-align: justify;
    min-width: 500px;
    margin-bottom: 0;
}

ul:after
{
    content: '';
    display: inline-block;
    width: 100%;
}

ul li
{

    display: inline-block;
}

.nav
{
    transition-duration: .4s;
    font-family: Ripped;
    text-decoration: none;
    font-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    z-index: 4;
}
.nav2
{
    margin-right: 65px;
}

.nav:visited
{
    color: white;
}

.nav:hover
{
    opacity: 1;
    color: #e6cd45;
    cursor: pointer;
}

.nav:active{color: gray;}

section
{
    position: relative;
    height: auto;
    margin-top: 50%;
    padding-bottom: 2000px;
    background-position: center;
    border: 2px solid #e6cd45;
    background-color: #212121;
    z-index: 5;
}

div.programs
{
    position: relative;
}

div.programs h1.program
{
    position: absolute;
    top: .5%;
    left: 0;
    right: 0;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    font-family: sans-serif;
    color: #d4d4d4;
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: medium;
    border-bottom-color: #e6cd45;
    z-index: 6;
}

pre.beginner
{
    position: absolute;
    top: 160%;
    left: -20%;
    margin-left: 20%;
    font-family: monospace;
    text-align: center;
    color: #d4d4d4;
    z-index: 6;
}

img.beginnerimage
{
    position: absolute;
    top: -60%;
    left: 47%;
    width: 50%;
    height: 50%;
    border-radius: 200px;
}

pre span.beginnerspan
{
    font-weight: bold;
    font-size: 25px;
}

pre.intermidiate
{
    position: absolute;
    top: 160%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    text-align: center;
    color: #d4d4d4;
    z-index: 6;
}

img.intermidiateimage
{
    position: absolute;
    top: -60%;
    left: 47%;
    width: 50%;
    height: 40%;
    border-radius: 200px;
}

pre span.intermidiatespan
{
    font-weight: bold;
    font-size: 25px;
}
