@font-face
{
    font-family: Ripped;
    src: url('../Fonts/Asket Extended Light.ttf');
}

@font-face
{
    font-family: Tagline;
    src: url('../Fonts/octin-prison-rg.ttf');
}

html
{
    height: 100%;
}

img.background
{
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    left: 0;
    background-repeat: no-repeat;
    background-image: url(Background.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

body
{
    overflow-x: hidden;
    overflow-y: auto;
}

header
{
    opacity: .9;
    position: relative;
    background-color: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: -10px -10px;
    width: auto;
    padding-top: 111px;
    z-index: 1;
}

img.logo
{
    position: absolute;
    bottom: -20px;
    left: 5px;
    float: left;
    width: 150px;
    height: 140px;
}

div.tagline
{
    position: absolute;
    bottom: 18px;
    left: 180px;
    font-family: Tagline;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

a.login:link
{
    position: absolute;
    right: 30px;
    bottom: 18px;
    text-decoration: none;
    text-align: right;
    font-family: Ripped;
    font-size: 15px;
    padding: 5px;
    color: white;
    z-index: 1;
}

a.login:visited
{
    color: white;
}

a.login:hover
{
    color: #e6cd45;
    cursor: pointer;
}

a.login:active
{
    color: gray;
}


body nav#navbar
{
    opacity: .9;
    position: -webkit-fixed;
    position: -moz-fixed;
    position: -ms-fixed;
    position: -o-fixed;
    top: 0;
    background-color: #272323;
    border-radius: 15px;
    border-top: 1px solid #e6cd45;
    box-shadow: 0 3px 10px #e6cd45;
    margin: 10px -10px 0 -10px;
    width: auto;
    z-index: 10;
}

ul 
{
    text-align: justify;
    min-width: 500px;
}

ul:after
{
    content: '';
    display: inline-block;
    width: 100%;
}

ul li
{
    display: inline-block;
}

.nav
{
    font-family: Ripped;
    text-decoration: none;
    font-size: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 65px;
    color: white;
    z-index: 1; 
}

.nav:visited
{
    color: white;
}

.nav:hover
{
    opacity: 1;
    color: #e6cd45;
    cursor: pointer;
}

.nav:active{color: gray;}

section
{
    height: auto;
    margin: auto;
    margin-top: -11px;
    width: 90%;
    background-color: black;
    opacity: .4;
}