body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #212121;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #212121;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #a39546;
}

body::-webkit-scrollbar-thumb:hover
{
    background-color: #e6cd45;
}

@font-face
{
    font-family: "Tagline";
    src: url('../Fonts/octin-prison-rg.ttf');
}

@font-face
{
    font-family: "Ripped";
    src: url('../Fonts/Cool.ttf');
}

.bounceInLeft
{
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

@keyframes bounceInLeft 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.bounceInRight 
{
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

  
@keyframes bounceInRight 
{
  0%, 60%, 75%, 90%, 100% 
  {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% 
  {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% 
  {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% 
  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% 
  {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  100% 
  {
    -webkit-transform: none;
    transform: none;
  }
} 

.fadeInDown 
{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeIn 
{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn 
{
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

.fadeInLeft 
{
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(-80%, 0, 0);
        transform: translate3d(-80%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight 
{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight 
{
    0% 
    {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% 
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp
{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp
{
    0%
    {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100%
    {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
@keyframes fadeInUp
{
  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100%
  {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.rotateInDownLeft 
{
    -webkit-animation-name: rotateInDownLeft;
    animation-name: rotateInDownLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes rotateInDownLeft 
{
    0% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownLeft 
{
    0% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
 
.rotateInDownRight 
{
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;    
    -webkit-animation-duration: 1s;   
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rotateInDownRight 
{
    0% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownRight 
{
    0% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
    100% 
    {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/*-------------BODY---------------*/
body
{
    margin: 0;
    padding: 0;
    font-family: 'Cool', sans-serif;
    background-color: #212121;
    overflow-x: hidden;
    overflow-y: scroll;
	font-weight: 400;
}

aside.background
{
    position: relative;
    top: 0;
    height: 80%;
    width: 100%;
    background:url(Images/home_page_background.jpg) no-repeat top center;
    background-size: cover;
    filter: grayscale(30%);
}

.container
{
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 1300px) 
{
  .container ul li:not(:last-child) {display: none;}
  .container ul span{display: none;}
  
  .container a.icon 
  {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1300px) 
{
  .container.responsive {position: relative;}

  .container.responsive a.icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }

  .container.responsive ul li, span 
  {
    float: none;
    display: block;
  }
}

/* Hide the link that should open and close the topnav on small screens */
.icon 
{
    display: none;
}

header
{

    background: -webkit-linear-gradient(rgba(214, 31, 31, 0), #000000);
    background: -moz-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -ms-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0), #000000);
    background: linear-gradient(to top, rgba(33, 33, 33, 0), #000000);
}

.fixed
{
    position: -webkit-fixed;
    position: -moz-fixed;
    position: -ms-fixed;
    position: -o-fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

.logo
{
  float: left;
  height: 90px;
  width: 90px;
}

.logo1
{
  float: left;
  margin-top: 26px;
  font-family: Tagline;
  font-size: 30px;
  color: #d4d4d4;
}

.straight
{
  padding-left: 35px;
  color: #e6cd45;
}

nav
{
  float: right;
}

nav ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li
{
  display: inline-block;
  margin-left: 30px;
  padding-top: 36px;
  position: relative;
}

nav a
{
  color: #d4d4d4;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  font-size: 16px;
}

nav a:hover
{
  color: #e6cd45;
}


/*--------------------------------*/

section
{
    position: relative;
    top: 0;
    height: 0;
    padding-bottom: 0px;
    margin: 0 auto;
    background: #212121;
    z-index: 4;
}
/*---------------PROGRAMS----------------*/
#programsdiv2
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: #212121;
    z-index: 5;
}

.programsh1
{
    position: absolute;
    top: 20;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 50px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}
/*//////////////////////////////////////////*/

div.programsdiv 
{
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: url('Images/programs_parallax.png');
}

div.grayscale
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #303030f6;
    height: auto;
}

.programsdiv ul 
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 1;
}

.programsdiv li 
{
    float: left;
    height: 460px;
    width: 270px;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #21212173;
    overflow: hidden;
}

/*----------BEGINNER----------*/
div.beginnerdiv
{
    height: 170px;
    width: 270px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img.beginnerimg
{
    height: 170px;
    width: 270px;
    padding: 0;
    margin: 0;
}

h1.beginnerh1
{
    color: #d4d4d4;
    text-shadow: 3px 2px 3px #a395467c;
    font-family: sans-serif;
}

p.beginnerp
{
    color: #d4d4d4;
    font-family: Ripped;
    font-size: 20px;
    padding: 5px;
}

/*----------INTERMIDIATE----------*/
div.intermidiatediv
{
    height: 170px;
    width: 270px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img.intermidiateimg
{
    height: 170px;
    width: 270px;
    padding: 0;
    margin: 0;
}

h1.intermidiateh1
{
    color: #d4d4d4;
    text-shadow: 3px 2px 3px #a395467c;
    font-family: sans-serif;
}

p.intermidiatep
{
    color: #d4d4d4;
    font-family: Ripped;
    font-size: 20px;
    padding: 5px;
}

/*----------ADVANCED----------*/
div.advanceddiv
{
    height: 170px;
    width: 270px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img.advancedimg
{
    height: 170px;
    width: 270px;
    padding: 0;
    margin: 0;
}

h1.advancedh1
{
    color: #d4d4d4;
    text-shadow: 3px 2px 3px #a395467c;
    font-family: sans-serif;
    padding: 5px 0 0 0 ;
}

p.advancedp
{
    color: #d4d4d4;
    font-family: Ripped;
    font-size: 20px;
    padding: 5px;
}

/*-----------------------------------*/
/*------------TUTORIALS-------------*/

div#tutorialsdiv2
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: #212121;
    z-index: 12;
}

h1.tutorialsh1
{
    position: absolute;
    top: 20;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 50px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.grayscale2
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    
    width: 100%;
    background-color: #303030f6;
    z-index: 9;
}

p.tutorialsp
{
    position: relative;
    color: #d4d4d4;
    padding: 0 60px 50px 60px;
    font-size: 22px;
    font-family: Ripped;
    margin: 0 auto;
    width: auto;
    z-index: 11;
}

div.tutorialsdiv
{   
    position: relative;
    text-align: center;
    padding: 50px 0;
    background: url('Images/tutorials_parallax.jpg');
    background-size: cover;
    z-index: 9;
}

.tutorialsdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 9;
}

.tutorialsdiv li
{
    position: relative;
    float: left;
    height: 170px;
    width: 270px;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #000000a1;
    overflow: hidden;
}/* ie needs position:relative here*/


img.tutorialsimg
{
    display: block;
    height: 170px;
    width: 270px;
    padding: 0;
    margin: 0;  
}
.overlay 
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2121217c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
    z-index: 20;
}
  
.tutorialsdiv ul li:hover .overlay 
{
    height: 35%;
}
  
.text 
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Ripped;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  

/*--------------------------*/
/*------------TRANSFORMATIONS-------------*/

div#transformationsdiv2
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: #212121;
    z-index: 12;
}

h1.transformationsh1
{
    position: absolute;
    top: 20;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 50px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.transformationsdiv3
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: url(Images/transformations_parallax.png);
    background-size: cover;
}

div.grayscale3
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: #303030b1;
    height: auto;
}

p.transformationsp
{
    position: relative;
    color: #d4d4d4;
    padding: 0 60px 50px 60px;
    text-align: center;
    font-size: 22px;
    font-family: Ripped;
    margin: 0 auto;
    width: auto;
    z-index: 11;
}

.transformationsdiv
{
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 9;
}

.transformationsdiv ul
{
    position: relative;
    display: inline-block;
    list-style: none;
    background-color: #2121217d;
    margin: 0;
    padding: 50px 0 20px 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    z-index: 1;
}

.transformationsdiv li
{
    position: relative;
    box-sizing: border-box;
    float: left;
    height: 170px;
    padding: 0;
    width: 270px;
    margin: 0 60px;
    text-overflow: ellipsis;
    background: #000000a1;
    overflow: hidden;
    z-index: 20;
}

.transformationsimg
{
    display: block;
    height: 170px;
    width: 270px;
    padding: 0;
    margin: 0;  
}
.overlay2
{
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: #2121217c;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
    z-index: 20;
}
  
.transformationsdiv ul li:hover .overlay2
{
    bottom: 0;
    height: 100%;
}
  
.text2
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Ripped;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  

#box1, #box2, #box3, #box4 
{
    width: 270px;
    height: 170px;
    -webkit-box-shadow: 0px 1px 1px;
    float: left;
    background: url(http://www.ilhamrock.com/wp-content/uploads/2014/10/cropped-I-copy.png);
    background-repeat: no-repeat;
    background-position: center;
}
  
#slideshow-container 
{
    width: 270px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
    box-shadow: 0px 10px 10px #333;
}

#slideshow 
{
    width: 1000%;
    -webkit-animation: slideshow 20s infinite;
    -moz-animation: slideshow 20s infinite;
    -o-animation: slideshow 20s infinite;
    -ms-animation: slideshow 20s infinite;
}
  
  /* Animation
  =============================*/
  
@-webkit-keyframes slideshow 
{
    0%, 10%, 100% {margin-left: 0; }
    20%, 30% {margin-left: -270px; }
    40%, 50% {margin-left: -540px;}
    60%, 70% {margin-left: -810px;}
    80% {margin-left: 0;}
}
  
@-moz-keyframes slideshow 
{
    0%, 10%, 100% {margin-left: 0; }
    20%, 30% {margin-left: -270px; }
    40%, 50% {margin-left: -540px;}
    60%, 70% {margin-left: -810px;}
    80% {margin-left: 0;}
}
  
@-o-keyframes slideshow 
{
    0%, 10%, 100% {margin-left: 0; }
    20%, 30% {margin-left: -270px; }
    40%, 50% {margin-left: -540px;}
    60%, 70% {margin-left: -810px;}
    80% {margin-left: 0;}
}
  
@-ms-keyframes slideshow 
{
    0%, 10%, 100% {margin-left: 0; }
    20%, 30% {margin-left: -270px; }
    40%, 50% {margin-left: -540px;}
    60%, 70% {margin-left: -810px;}
    80% {margin-left: 0;}
}

/*----------------------------------------------------*/
/*---------------QNA---------------*/

div#qnadiv2
{
    position: relative;
    height: 100px;
    border: 1px solid #e6cd45;
    border-top: 1px solid rgba(230, 205, 69, .4);
    border-bottom: 1px solid rgba(230, 205, 69, .4);
    background: #212121;
    z-index: 12;
}

h1.qnah1
{
    position: absolute;
    top: 20;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    font-family: Tagline;
    font-size: 50px;
    color: #d4d4d4;
    text-align: center;
    z-index: 6;
}

div.qnadiv
{
    background-color: #525252;
    padding: 50px;
}

p.qnap
{
    position: relative;
    color: #d4d4d4;
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-family: Ripped;
    margin: 0 auto;
    width: auto;
    z-index: 11;
}

.sub-main
{
    width: 200px;
    margin: 20px auto 0 auto;
}
  
.button-two
{
    text-align: center;
    cursor: pointer;
    font-size:24px;
    align-content: center;
    margin: 0 auto;
}

.button-two 
{
    border-radius: 4px;
    background-color:#a39546;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}
  
  
.button-two span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #212121;
    font-family: Ripped;
}
  
.button-two span:after 
{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button-two:hover span 
{
    padding-right: 25px;
}

.button-two:hover
{
    padding-right: 25px;
    background-color: #e6cd45;
}

.button-two:hover span:after 
{
    opacity: 1;
    right: 0;
    color: #000000;
}
  
/*--------------------------------------*/
.zoomhover
{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.zoomleave
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.opacity
{
    visibility: hidden;
}

/*----------FOOTER----------*/
.footer-distributed
{
	background: rgba(71,71,71,1);
background: -moz-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,71,71,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#000000', GradientType=0 );
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 40%;
}

/* The company logo */

.footer-distributed h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span
{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
    text-decoration: none;
    transition: .3s;
	color:  inherit;
}

.footer-distributed .footer-links a:hover
{
    transition: .3s;
	color:  #e6cd45;
}

.footer-distributed .footer-company-name
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}

.footer-distributed .footer-center i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a
{
	color:  #5383d3;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover
{
	color:  #5383d3;
	text-decoration: underline;
}

/* Footer Right */

.footer-distributed .footer-right
{
	width: 20%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
	margin-top: 25px;
}

.footer-icons a i
{
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) 
{
    .footer-distributed .footer-company-about span
    {
        position: relative;
        left: 45%;
    }

    .footer-distributed
    {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
    .footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-distributed .footer-center i
    {
		margin-left: 0;
	}

}
